[workspace]
members = [
    "chombo-gen-common",
    "chombo-gen-backend",
    "chombo-gen-frontend",
]
resolver = "2"

[profile.release]
codegen-units = 1
lto = true

[workspace.dependencies]
schemars = "1.1"
serde = { version = "1.0.228", features = ["derive"] }
